.snippet {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.snippet p {
  background: #FFF;
  margin: 0;
  padding: var(--padding-sm);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}